[Desktop Entry]
Type=Application
Name=PixelKit shortcuts
Comment=Enable PixelKit Color Picker, Magnifier, and Screen Ruler shortcuts
Exec=pixelkit daemon
Icon=io.github.Kuucheen.PixelKit
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
